.postCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 300px;
  height: 350px;
  padding: 25px;
  background-color: #f3f3f3;
  border-bottom: 1px silver solid;
}

.postCardTop {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postTitle {
  font-size: 14px;
  font-weight: 900;
}