.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.checkbox-input {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #a5a5a5;
  border-radius: 3px;
  background-color: #fff;
}

.checkbox-input:hover:not(.checkbox-input:disabled) {
  border: 2px solid #2b60d2;
}

.checkbox-input:checked {
  background-color: #2b60d2;
  border-color: #2b60d2;
}

.checkbox-input:disabled{
  border: 2px solid #a5a5a5;
  background-color: #a5a5a5;
}

.checkbox-input:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  left: 25%;
  width: 8px;
  height: 10px;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-right-color: #fff;
  transform: rotate(35deg);
}