.radio-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.radio-element {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid #a5a5a5;
  border-radius: 50%;
  background-color: #fff;
}

.radio-element:hover:not(.radio-element:disabled):not(.radio-element:checked) {
  border: 2px solid #2b60d2;
}

.radio-element:checked {
  border: 5px solid #2b60d2;
}

.radio-element:disabled{
  border: 2px solid #a5a5a5;
  background-color: #a5a5a5;
}